
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  .navbar {
    display: flex;
    align-items: center;

    .navbar-links {
      display: flex;
      align-items: center;

      a {
        color: #fff;
        text-decoration: none;
        margin-right: 1rem;
      }
    }

    .navbar-toggle {
      display: none;
      cursor: pointer;
    }
  }

  .navbar-collapse {
    display: none;

    &.open {
      display: flex;
    }
  }

  .fa-bars {
    font-size: 1.5rem;

    &.open::before {
      content: "\f00d";
    }
  }

  @media (max-width:768px) {
    .navbar-links {
      display: none;
    }

    .navbar-toggle {
      display: flex;
    }
  }
}
#home
{
    ::selection
    {
        background-color: crimson;
        color: aliceblue;
    }
    #product
    {
        margin-left: 2%;
        #des
        {
            line-height: 2;
            span
            {
                font-size: 2rem;
                margin-left: 1rem;
                user-select: none;
                cursor: pointer;
            }
            #price
            {
                margin-left: 4rem;
                color: #444!important;
            }
            h4
            {
                padding: 6px;
                background :seagreen;
                color: #fff;
                width: 100px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    #product img{
        max-width: 100%;
        transition: .3s all;
        border-radius: 5px;
       &:hover
       {
        border: 3px solid red;
       }
    }

}
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  
    .footer-info {
      p {
        margin: 0;
      }
  
      a {
        color: #fff;
        text-decoration: none;
        margin-right: 1rem;
      }
    }
  
    .footer-social {
      a {
        color: #fff;
        font-size: 1.5rem;
        margin-right: 0.5rem;
        transition: color 0.2s ease;
  
        &:hover {
          color: #50a8a6;
        }
      }
    }
  }